@model http5204_passion_project.Models.ViewModels.EditReview

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Review</h2>

<form method="POST" action="/Review/Edit/@Model.Reviews.ReviewId">
    <div class="form-group">
        <label>Title</label>
        <input id="ReviewTitle" class="form-control" value="@Model.Reviews.ReviewName" name="ReviewName" />
    </div>

    <div class="form-group">
        <label>Series (Where is it from?)</label>
        <input id="ReviewSeries" class="form-control" value="@Model.Reviews.ReviewSeries" name="ReviewSeries" />
    </div>

    <div class="form-group">
        
        <label>Category</label>
        <select value="@Model.Reviews.ReviewCategory" class="custom-select" name="ReviewCategory" id="selectCategory">
            @*@foreach(var category in @Model.Reviews.ReviewCategory)
            {
                if (category.Equals(value))
                {
                    category.Remove();
                }
            }*@
            <option value="@Model.Reviews.ReviewCategory">@Model.Reviews.ReviewCategory</option>
            <option value="TV Shows">TV Shows</option>
            <option value="Movies">Movies</option>
            <option value="Video Games">Video Games</option>
            <option value="Comic Books">Comic Books</option>
            <option value="Books">Books</option>
        </select>
    </div>

    <div class="form-group">
        <label>Date</label>
        <input type="datetime-local" class="form-control" value="@Model.Reviews.ReviewDate" name="ReviewDate">
    </div>



    <div class="form-group">
        <label>Content</label>
        <textarea class="form-control" id="exampleTextarea" rows="10" style="height: 258px; width:500px;"
                  name="ReviewContent">@Model.Reviews.ReviewContent</textarea>
    </div>

    <input type="submit" id="submitBtn" class="btn btn-primary" value="Publish" />

</form>

