@model IEnumerable<http5204_passion_project.Models.Review>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Latest Reviews</h1><aside class="page-link">@Html.ActionLink("Write a Review", "New")</aside> 

<div>
    @foreach (var review in Model)
    {


        <div class="rev-holder">
            <h3>@Html.ActionLink(review.ReviewName, "Show/" + review.ReviewId)</h3>
            <p><b>Origin: </b> @review.ReviewSeries</p>
            <p><b>Category: </b> @review.ReviewCategory</p>
            <span><b>By: </b> @Html.ActionLink(review.Authors.AuthorAlias, "Show/" + review.Authors.AuthorId, "Author")</span>
        </div>
    }

</div>

