@model IEnumerable<http5204_passion_project.Models.Review>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

//Change code
<h2>List</h2>

<div>
    @Html.ActionLink("Write a Review", "New")
</div>
<div class="form-group">
    @foreach (var review in Model)
    {

        <div class="rec">

            <div class="form-group">
                <div>
                    @if (review.Authors.HasPic == 1)
                    {
                        <img src="~/images/authors/@(review.Authors.AuthorId).@(review.Authors.ImageType)" />
                    }
                    else
                    {
                        <img src="~/images/authors/deadpool.jpg" />
                    }
                </div>
                <span>@Page.blog.author.AuthorPenName</span>
            </div>
            <div class="form-group">
                <label>@Html.ActionLink(review.ReviewName, "Show/" + review.ReviewId)</label>

                <p>@review.ReviewContent</p>
                <span>
                    <a href="@Url.Action("Delete/"+review.ReviewId)"><i class="fa-trash-alt"></i></a>
                </span>
            </div>
            <div class="clearfix"></div>
        </div>

    }
</div>

