@using http5204_passion_project.Models
@model http5204_passion_project.Models.Author

@{
    ViewBag.Title = "Show";
}
<div class="form-group">
    @Html.ActionLink("Edit", "Edit/" + Model.AuthorId) 
    @Html.ActionLink("Delete", "Delete/" + Model.AuthorId)
</div>

<h2>@Model.AuthorAlias</h2>

<div class="form-group">  
    <aside>

        @if (Model.HasPic == 1)
        {
            <img src="~/images/authors/@(Model.AuthorId).@(Model.ImageType)"/>
        }
        else
        {
            <img src="~/images/authors/deadpool.jpg"/>
        }

    </aside>
</div>

<div>
    <h3>Reviews by @Model.AuthorAlias</h3>
    @foreach (var review in Model.Reviews)
    {
        @Html.ActionLink(review.ReviewName, "Show/" + review.ReviewId, "Review")
    }
</div>

